:global
  .wrap-content
    overflow-wrap: break-word
    word-break: break-word
    hypens: auto

  .datepicker
    > div
      > div.react-datepicker-wrapper
        width: 100%
        > div.react-datepicker__input-container
          width: 100%
      > div.react-datepicker-popper
        z-index: 1

  .hidden
    display: none

  .react-select--error
    div.Select-control
      border-color: #e0b4b4
      background: #fff6f6
      span.Select-multi-value-wrapper
        div.Select-value
          span.Select-value-label
            color: #9f3a38 !important

  .is-required:after
    content: ' *'
    color: red
    font-size: 1.1em

  .Select-input
    max-width: 0

  .cursor-pointer
    cursor: pointer

  .field.valid-highlight .field
    input, input:focus
      background: #ccffcc
      border-color: #00b300
      color: #00b300

  .ui.label
    font-weight: normal

  .ant-tree li
    white-space: wrap
    overflow: auto
