.values-root
  width: 100%
  display: flex
  flex-direction: column
  align-items: center

.mappings-item
  display: flex
  justify-content: center
  cursor: pointer
  padding: 2px
  > div
    min-width: 140px

.labelBorder
  border: 1px solid !important
